Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dbmdl
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
*.dll
*.dbmdl
**/*.pdb
**/*.dll
**/bin
*.orig
*.dll
*.pdb
*.cache
*/App_Data/
*.suo
**/Log/log.txt
.vs/


!packages/**/tools/**/*.dll
!packages/**/*.dll
!packages/**/*.exe


packages/
